<div class="d-flex justify-content-center align-items-center mt-4">
  <%= form_with url: static_pages_index_path, method: "get", class: "form-inline" do |form| %>
    <div class="input-group">
      <%= form.text_field :search, id: "form1", class: "form-control-lg", placeholder: "Search" %>
        <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          <i class="bi bi-search"></i>
        <% end %>
    </div>
  <% end %>
</div>

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4 posts-list">
      <%= render "shared/show_book_item"%>
    </div>
  </div>
</section>
