<div class="d-flex justify-content-center align-items-center m-5">
  <%= form_with url: static_pages_index_path, method: "get", class: "form-inline" do |form| %>
    <div class="input-group">
      <%= form.text_field :search, placeholder: t("book.search_place"), class: "form-control" %>
      <div class="input-group-append px-3">
        <%= form.submit t("book.search_button"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/show_book_item" %>
