<% provide(:title, t("admin.book.edit")) %>
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
    <h1 class="mt-4"><%= t("admin.book.edit")%></h1>
      <div class="card mb-4">
        <div class="card-body">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </main>
</div>
