default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: new_development_database_name  # Thay new_development_database_name bằng tên mới cho môi trường phát triển

test:
  <<: *default
  database: new_test_database_name  # Thay new_test_database_name bằng tên mới cho môi trường test

production:
  <<: *default
  database: new_production_database_name  # Thay new_production_database_name bằng tên mới cho môi trường sản xuất
  username: new_username  # Thay new_username bằng tên người dùng mới cho môi trường sản xuất
  password: <%= ENV["NEW_RAILS_TUTORIAL_DATABASE_PASSWORD"] %>  # Thay NEW_RAILS_TUTORIAL_DATABASE_PASSWORD bằng biến môi trường mới
